---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.dev/v1/2024-01-02?base=USD&symbols=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae354a0c189267ef9fa0638a19f3b7d4"
    body:
      encoding: ASCII-8BIT
      string: '{"amount":1.0,"base":"USD","date":"2024-01-02","rates":{"GBP":0.79085}}'
  recorded_at: Tue, 25 Aug 2026 12:58:22 GMT
recorded_with: VCR 6.3.1
